@import './scss/variables.scss';
@import './scss/art.scss';

:root {
--bg-section: #fff;
--section-text: #000000;
--section-list-text: #000000;
--card-border: rgba(150, 149, 149, 0.705);
--bg-offset: rgb(243, 248, 252);
--item-text: rgb(4, 23, 51);
--text-btn: rgb(31, 26, 26);
}





.strike-through {
  position: relative;
}

.strike-through:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

:root {
  font-size: 10px;
}

html, * {
  margin: 0;
  padding: 0;
}

body {
  color: var(--section-text);
  font-family: "Spartan", sans-serif;
  font-size: 10px;
}

@media screen and (max-width: 1150px) {
  body {
    font-size: 8px;
  }
}
.section {

  min-height: 100vh;
}

.hidden {
  display: none;
}

.side-50 {
  width: 50%;
}

a {
  text-decoration: none;
  color: var(--section-text);
  font-size: 1.6em;
}

.w-100 {
  width: 100%;
}

h1 {
  font-size: 3rem;
}

#p-name {
  color: var(--section-text);
  font-size: 2em;
  font-weight: 600;
}

.s {
  color: #c26a4f;
}

.t-size {
  font-size: 3em;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: fadein 1s;
  @media screen and (max-width: 1150px) {

    font-size: 2em;
    animation: unset;

  }

}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

#showcase-title {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 1.5rem;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @media screen and (max-width: $large) {
    background: rgba(241, 241, 241, 0.329);
  }
}

.nav {
  display: flex;
  padding: 15px;
}

.nav  { 
  .brand-name {
  width: 50%;
  text-align: center;
  color: black;

}

#last {
  @media  screen and (max-width: $medium) {
    display: none!important;
  }
}

}

.navbar {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: center;
}

.navbar {
  a {
    color: #f3f3f3;
    cursor: pointer;
    margin-right: 1.2rem;
    @media screen and (max-width: 1150px) {

      color: #141414;
      font-weight: 900;
    }

 
  }


}

#socialfy-section {
  background: var(--bg-section);
}

#crypto-section-1 {
  background: var(--bg-section);
}


.jumbotron {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron .img-wrap {
  width: 100%;
}

.jumbotron-section {
  height: 100vh;
  width: 50%;
  position: relative;



  @media screen and (max-width: 1150px) {

    width: 100%;
    height: 50vh;
    padding: 5px;

}

}

.profile-box {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 1150px) {

    align-items: flex-end;

  }
}


.profile-desc {
  width: 50%;
  p {
    line-height: 1.8em;
    margin: 0 auto;

    font-size: 1.6em;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
    @media screen and (max-width: 1150px) {

      width: 85vw;
   
    }
  }
  @media screen and (max-width: 1150px) {

    width: 100%;

  }
}





.showcase-box {
  background: #0a0a0a;
  color: #f3f3f3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1150px) {

    align-items: flex-start;
 
}
}


.custom-circle {
  border-radius: 50%;
}

.showcase-img {
  display: block;
  margin: 0 auto;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}

.showcase-img-block {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.project-card {
  background: white;
  color: black;
 
}

#team-chat-section {
  background: var(--bg-offset);
}

.team-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 75%;
  height: 15rem;
  margin: 2rem auto;
  flex-direction: column;
}

.team-chat-card {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#team-chat-title {
  font-size: 1.4rem;
  color: #13405e;
  font-weight: 800;
  margin-bottom: 1rem;
}

.fa-people-carry {
  color: #13405e;
}

#w-1 {
  position: absolute;
  right: 0.5em;
  top: 50%;
}

@media screen and (max-width: 1150px) {
  #w-1 {
    text-align: center;
    position: unset;
    width: 33%;
  }
}
#w-2 {
  position: absolute;
  right: 0.5em;
  top: 55%;
  animation-delay: 1s;
}

@media screen and (max-width: 1150px) {
  #w-2 {
    text-align: center;
    position: unset;
    width: 33%;
  }
}
#w-3 {
  position: absolute;
  right: 0.5em;
  top: 60%;
  animation-delay: 2s;
}

@media screen and (max-width: 1150px) {
  #w-3 {
    text-align: center;
    position: unset;
    width: 33%;
  }
}
#w-11 {
  position: absolute;
  left: 0.5em;
  top: 50%;
  animation-delay: 0.5s;
}

@media screen and (max-width: 1150px) {
  #w-11 {
    text-align: center;
    position: unset;
    width: 33%;
  }
}
#w-22 {
  position: absolute;
  left: 0.5em;
  top: 55%;
  animation-delay: 1.5s;
}

@media screen and (max-width: 1150px) {
  #w-22 {
    text-align: center;
    position: unset;
    width: 33%;
  }
}
#w-33 {
  position: absolute;
  left: 0.5em;
  top: 60%;
  animation-delay: 2.5s;
}

@media screen and (max-width: 1150px) {
  #w-33 {
    position: unset;
    width: 33%;
    text-align: center;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 87vw;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {
  .row {
    width: 100%;
    flex-direction: column-reverse;
  }
}
.desc-side,
.proj-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  .desc-side,
.proj-side {
    width: 100%;
  }
}
.desc-side .project-card,
.proj-side .project-card {
  background: transparent;
}

.project-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  color: var(--section-text);

  h1 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  #team-chat-section {
    width: 100%;
  }

  #team-chat-section h1 {
    margin-top: 3rem;
  }
}
#team-chat-section h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.proj-side {

  p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    color: var(--section-text);
    width: 90%;
  }

}

.proj-side .project-image {
  height: 50rem;
  width: 90%;
  object-fit: cover;
  margin-bottom: 2rem;
}

@media screen and (max-width: 50rem) {
  .proj-side .project-image {
    width: 70vw;
    height: 30vh;
  }
}
.desc-side h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.desc-side h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.desc-side h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.desc-side ul {
  font-size: 1.4rem;
  list-style: none;
}

.desc-side ul li {
  color: var(--section-text);
  margin-bottom: 0.8rem;
  padding-left: 1.4rem;
}

.desc-side ol {
  font-size: 1.4rem;
  padding-left: 2.4rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.desc-side ol li {
  color: var(--section-text);
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1150px) {
  .desc-side ol li {
    width: unset;
  }
}
.desc-side .tech-holder {
  display: flex;
  margin-bottom: 2rem;
}

.desc-side .tech-sec {
  width: 50%;
}

.desc-side p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 3rem;
  color: #f3f3f3;
}

.team-desc {
  background: #ffffff;
}

.team-proj {
  background: #0a0a0a;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}



.abs-bg {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

// Projects Menu
#projects-menu {
  background: var(--bg-offset);
  color: var(--section-text);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.img-card {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.menu-item {
  width: 33.333%;
  margin-bottom: 2rem;
  @media screen and (max-width:$large) {
    width: 50%;
  }

  @media screen and (max-width:$medium) {
    width: 100%;
  }
}

.menu-card {
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--card-border);
  background: var(--bg-section);
  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  box-shadow: $shadow-1;

  button {
    color: var(--section-text);
    background: var(--bg-section);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--card-border);
    margin-bottom: 1rem;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 800;
    color: var(--item-text);
    min-height: 7rem;
    li {
      width: 30%;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }

  img {
    margin-bottom: 2rem;
  }

  a {
    color: var(--text-btn)!important;
    font-size: 1.4rem;
    display: inline;
  }


}

.menu-holder {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.btn-repo {
  padding: 0.5rem 1rem;
  border: 1px solid var(--card-border);
  background: var(--bg-section);
  margin-bottom: 2rem;
  a {
    color: var(--text-btn)!important;
    font-size: 1.4rem;
  }
}

.hidden {
  display: none;
}

.nav-color {
   a {
     color: var(--section-text);
   }
}


#section-about {
  padding-top: 3rem;
  min-height: 100vh;
  h1 {
    text-align: center;
  }
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  cursor: pointer;
  border: 1px solid var(--card-border);
  background: rgba(158, 157, 157, 0.13);
  animation: fadein 1s;
}

#back-to-menu {
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  border: 1px solid var(--card-border);

  background: rgba(158, 157, 157, 0.13);
  padding: 1rem 0.5rem;
  width: 10rem;
  cursor: pointer;
  animation: fadein 0.5s;
}

#last {
  animation: fadein 0.4s;
  color: rgb(56, 56, 56);
}

#btn-latest {
  cursor: pointer;
  border: 1px solid var(--bg-section);
  background: transparent;
  padding: 1rem 3rem;
 
  margin: 0 auto;
  display: block;
  color: var(--bg-section);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;

  }
  h3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  ul {
    margin-left: 4rem;
    font-size: 1.4rem;
    li {
      margin-bottom: 2rem;
    }
    a {
      font-size: 1.4rem;
      text-decoration: underline;
      color: rgb(12, 78, 104);
    }
  }
  

  h4 {
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.4rem;
    margin-left: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .about-section {
    width: 50%;
    margin-top: 5rem;
    
    @media screen and (max-width:$medium) {
        width: 100%;
    }
  }

  .light {
    font-size: 1.2rem;
    color: rgb(48, 47, 47);
  }

}



.center {
  text-align: center;
}

.logo-box {
  
  width: 20%;
  @media screen and (max-width:$large) {
      width: 50%;
  }
  .logo-img-holder {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  i {
    font-size: 6.5rem;
   

    
  }


}

.logo-box-contact{
  
  width: 25%;
  @media screen and (max-width:$large) {
      width: 50%;
  }
  .logo-img-holder {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    align-items: center;

  }
  i {
    font-size: 6.5rem;
    margin-bottom: 1rem;

    
  }

  p {
    margin: unset;
    
  }


}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}